{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      },
      "bugfixes": true,
      "loose": true,
      "modules": "cjs"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", {
      "allowNamespaces": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "ignore": ["**/*.d.ts", "node_modules"]
}
